<div>

  {{!-- NEW Side Bar --}}
  <div class="sidebar">

    {{!-- Card for Logo and User Info --}}
    <div class="row">
      <div class="col">

        <div class="pt-2 pb-2 pl-4 pr-4">
          <a href="/"><img class="card-img-top" src="../assets/images/nox-logo.png"
              alt="Social and Dating App for Marginalized Genders"></a>
        </div>

        <p class="user_info">
          <h4 class="card-title bolder-text mb-0">{{user.username}}</h4>
        </p>

        {{!-- Pronouns: "Pronouns Here" --}}
        <p class="user_info"><small text="text-muted">My Pronouns:</small><br />{{user.pronouns}}</p>

        {{!-- IG Handle: "Handle_Here" --}}
        <p class="user_info"><small text="text-muted">My IG Handle:</small><br />{{user.insta}}</p>


      </div>
    </div>

    {{!-- New Post Form --}}
    <div class="row mt-3">
      <div class="col">

        <div class="form-group">
          <label for="post-text"><h4 class="bolder-text">New Post</h4></label>
          <input type="text" id="post-text" class="form-control" aria-describedby="post-text" placeholder="*Title*">
        </div>

        <div class="form-group">
          {{!-- <label for="post-description">Post</label> --}}
          <textarea class="form-control" id="post-description" aria-describedby="post-description"
            placeholder="*Feelings*"></textarea>
        </div>

        <button id="submit" class="btn btn-warning" data-id={{user.id}}>Submit</button>

      </div>
    </div>

    {{!-- New Post Button --}}
    <div class="row mt-3 d-none">
      <div class="col">

        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#newPostModal"
          data-whatever="">New
          Post</button>

      </div>
    </div>

    {{!-- Rules and Sign Out Links --}}
    <div class="row mt-3">
      <div class="col" id="sidebar_nav">

        {{!-- <a href="/rules" class="text-secondary">Rules</a> --}}

        <a href="/signout" class="text-secondary">Sign Out</a>

      </div>
    </div>

  </div>

  {{!-- Main Content Div --}}
  <div class="content">

    {{!-- Posts --}}
    <div class="row">

      <div class="col col-12">

        <div id="post-list">
          {{#each Post}}
          <div class="card mb-4">
            <div class="card-body" data-id="{{this.id}}">

              {{!-- Flag --}}
              <i id="flag" class="material-icons float-right">outlined_flag</i>

              {{!-- Post Title --}}
              <h5 class="card-title bolder-text" data-title="{{this.title}}">{{this.title}}</h5>

              {{!-- Post Body --}}
              <p class="card-text" data-body="{{this.body}}">{{this.body}}</p>

              {{!-- Link to Bio of User's Post --}}
              <button type="button" class="btn btn-link float-right bio bio-modal" data-toggle="modal"
                data-target="#viewOtherBioModal" data-whatever="{{this.accountId}}">{{this.accountId}}</button>

              {{!-- Footer = Date/Time Stamp? --}}
              {{!-- <h6 class="card-subtitle mb-2 text-muted">Date/TimeStamp?</h6> --}}
            </div>
          </div>
          {{/each}}
        </div>

        {{!-- Sample Post --}}
        {{!-- <div class="card mb-4">
          <div class="card-body">
            <i class="material-icons float-right">outlined_flag</i>
            <h3 class="card-title">This is the title</h3>
            <p class="card-text">If we can add a timestamp we should. If timestamp is added, need to rearrange username
              and time stamp below to be right-aligned.</p>
            <button type="button" class="text-secondary float-right" data-toggle="modal" data-target="#viewOtherBioModal"
              data-whatever="INSERT_USERNAMEHERE">Username_of_this_Post</button>
            <h6 class="card-subtitle mb-2 text-muted">Date/TimeStamp?</h6>
          </div>
        </div> --}}

      </div>

    </div>

  </div>

  {{!-- Modal for Other User's Bio --}}
  <div class="row">
    <div class="modal fade" id="viewOtherBioModal" tabindex="-1" role="dialog" aria-labelledby="viewOtherBioModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">

            <h5 class="modal-title" id="viewOtherBioModalLabel">{{this.username}}'s Bio</h4>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">&times;</span></button>

          </div>
          <div class="modal-body">
            {{!-- <p id="bioUser">@</p> --}}
            <p id="bioPro"></p>
            <p id="bioInsta"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/index.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>