{{!-- Start original test code --}}
<div id="home" class="d-none">

  <div class="container">

    {{!-- ROW --}}
    <div class="row">

      {{!-- col 8 --}}
      <div class="col-8">

        {{!-- Start row 1 --}}
        <div class="row">

          {{!-- headers --}}
          <h1>{{msg}}</h1>
          <h2>This is our Home Page!</h2>

          {{!-- Start form --}}
          <form class="clearfix mb-4" action="POST">

            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" class="form-control" aria-describedby="username" placeholder="Username">
            </div>

            <div class="form-group">
              <label for="post-text">Post Name</label>
              <input type="text" id="post-text" class="form-control" aria-describedby="post-text"
                placeholder="Enter Your Headline">
            </div>

            <div class="form-group">
              <label for="post-description">Post Body</label>
              <textarea class="form-control" id="post-description" aria-describedby="post-description"
                placeholder="Enter Your Personal"></textarea>
            </div>

            <button id="submit" class="btn btn-primary float-right">Submit</button>

          </form>
          {{!-- End form --}}

        </div>
        {{!-- End row 1 --}}

        {{!-- Start row 2 --}}
        <div class="row">

          <h3 class="clearfix">Examples:</h3>

          <ul id="post-list" class="list-group">
            {{#each Post}}
            <li data-id="{{this.id}}" class="list-group-item">
              <a href="example/{{this.UserId}}">{{this.name}}</a>
              <h5>{{this.title}}</h5>
              <p>{{this.body}}</p>
              <button class="btn btn-outline-danger float-right flag">
                {{!-- insert flag icon here --}}
              </button>
            </li>
            {{/each}}
          </ul>

        </div>
        {{!-- End row 2 --}}

      </div>
      {{!-- End col 8 --}}

    </div>
    {{!-- End row --}}

  </div>
  {{!-- End container --}}

</div>
{{!-- End original test code --}}

{{!-- Start new code --}}
{{!-- Removed "id=home" ? --}}
<div>

  {{!-- Side Bar --}}
  <div class="sidebar">

    <div class="card">
      <div class="card-body">
        {{!-- This user's username --}}
        <h6 class="card-subtitle mb-2">Uneditable_Username</h6>
        <a href="/">
          <h1 class="card-title" id="sidebar_logo_text">NOX</h1>
        </a>
        {{!-- These should be editable on click and updated in the database --}}
        {{!-- This user's pronouns --}}
        {{!-- This user's ig username --}}
        <p class="card-text">Pronouns:</br>Insta:</p>
      </div>
    </div>

    <div class="row mt-3">

      <div class="col">

        {{!-- New Post Button --}}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPostModal"
          data-whatever="">New
          Post</button>

      </div>

    </div>

    <div class="row mt-3">

      <div class="col" id="sidebar_nav">
{{!-- 
        <button type="button" class="btn btn-link" href="/rules">Rules</button> --}}
        <a class="btn" href="/rules"> Rules</a>
        {{!-- <button type="button" class="btn btn-link" href="/signout">Sign Out</button> --}}
        <a class="btn" href="/signout">Sign Out</a>

      </div>

    </div>

  </div>

  <div class="content">

    <div class="row">

      <div class="col col-12">

        {{!-- Not sure what this is --}}
        {{msg}}

        {{!-- Start form --}}
        <form action="POST">

          <div class="form-group">
            <label for="username">Test Username</label>
            <input type="text" id="username" class="form-control" aria-describedby="username" placeholder="Username">
          </div>

          <div class="form-group">
            <label for="post-text">Test Post Name</label>
            <input type="text" id="post-text" class="form-control" aria-describedby="post-text"
              placeholder="Enter Your Headline">
          </div>

          <div class="form-group">
            <label for="post-description">Test Post Body</label>
            <textarea class="form-control" id="post-description" aria-describedby="post-description"
              placeholder="Enter Your Personal"></textarea>
          </div>

          <button id="submit" class="btn btn-primary float-right">Submit</button>

        </form>
        {{!-- End form --}}

      </div>

    </div>

    <div class="row">

      <div class="col col-12">

        {{!-- <h3 class="clearfix">Examples:</h3> --}}
        {{!-- <h3>Examples = Posts?:</h3> --}}

        <ul id="post-list" class="list-group">
          {{#each Post}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.UserId}}">{{this.name}}</a>
            <h5>{{this.title}}</h5>
            <p>{{this.body}}</p>
            <button class="btn btn-outline-danger float-right flag">
              {{!-- insert flag icon here --}}
            </button>
          </li>
          {{/each}}
        </ul>

        {{!-- button to trigger modal with this user's bio --}}
        {{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#viewOtherBioModal"
          data-whatever="INSERT_USERNAMEHERE">Who is
          this?</button> --}}


        {{!-- BELOW IS MISSING THIS: href="example/{{this.UserId}}" --}}
        {{#each Post}}
        <div class="card mb-4">
          <div class="card-body" data-id="{{this.id}}">
            <i class="material-icons float-right">outlined_flag</i>
            <h3 class="card-title">{{this.title}}</h3>
            <p class="card-text">{{this.body}}</p>
            <button type="button" class="btn btn-link float-right" data-toggle="modal" data-target="#viewOtherBioModal"
              data-whatever="INSERT_USERNAMEHERE">{{this.name}}</button>
            <h6 class="card-subtitle mb-2 text-muted">Date/TimeStamp?</h6>
          </div>
        </div>
        {{/each}}

        <div class="card mb-4">
          <div class="card-body">
            <i class="material-icons float-right">outlined_flag</i>
            <h3 class="card-title">This is the title</h3>
            <p class="card-text">If we can add a timestamp we should. If timestamp is added, need to rearrange username
              and time stamp below to be right-aligned.</p>
            <button type="button" class="btn btn-link float-right" data-toggle="modal" data-target="#viewOtherBioModal"
              data-whatever="INSERT_USERNAMEHERE">Username_of_this_Post</button>
            <h6 class="card-subtitle mb-2 text-muted">Date/TimeStamp?</h6>
          </div>
        </div>

        <div class="card mb-4">
          <div class="card-body">
            <i class="material-icons float-right">outlined_flag</i>
            <h3 class="card-title">This is the title</h3>
            <p class="card-text">If we can add a timestamp we should. If timestamp is added, need to rearrange username
              and time stamp below to be right-aligned.</p>
            <button type="button" class="btn btn-link float-right" data-toggle="modal" data-target="#viewOtherBioModal"
              data-whatever="INSERT_USERNAMEHERE">Username_of_this_Post</button>
            <h6 class="card-subtitle mb-2 text-muted">Date/TimeStamp?</h6>
          </div>
        </div>

                <div class="card mb-4">
          <div class="card-body">
            <i class="material-icons float-right">outlined_flag</i>
            <h3 class="card-title">This is the title</h3>
            <p class="card-text">If we can add a timestamp we should. If timestamp is added, need to rearrange username
              and time stamp below to be right-aligned.</p>
            <button type="button" class="btn btn-link float-right" data-toggle="modal" data-target="#viewOtherBioModal"
              data-whatever="INSERT_USERNAMEHERE">Username_of_this_Post</button>
            <h6 class="card-subtitle mb-2 text-muted">Date/TimeStamp?</h6>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/index.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

<div class="row">
  <div class="modal fade" id="viewOtherBioModal" tabindex="-1" role="dialog" aria-labelledby="viewOtherBioModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="viewOtherBioModalLabel">SELECTEDUSER's Bio</h4>
        </div>
        <div class="modal-body">
          <p>DISPLAYUSERHANDLE name: DataTypes.STRING,</p>
          <p>DISPLAYUSERPRONOUNS pronouns: DataTypes.STRING,</p>
          <p>DISPLAYUSERDOB DOB: DataTypes.DATEONLY,</p>
          <p>DISPLAYUSERINSTAGRAMHANDLE insta: DataTypes.STRING,</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="newPostModalLabel">Fresh Post</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="control-label">Context:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="form-group">
              <label for="message-text" class="control-label">Share your beautiful
                thoughts:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel New Post</button>
          <button type="button" class="btn btn-primary">Share your thoughts with the
            community!</button>
        </div>
      </div>
    </div>
  </div>
</div>
